<!DOCTYPE html>
<html lang='hu'>
	<head>
		<meta charset='UTF-8'>
		<title>Webtárhely - Saját fájlaim</title>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include('_fejlec.ejs') %>

		<h1>
			Útvonal: <%= cdir.fullpath %>
		</h1>
		<form action='/fajlml/<%= cdir.fullpath %>' method='post' enctype='application/x-www-form-urlencoded'>
			Új mappa létrehozása:<br>
			<input type='text' name='mappanev' />
			<button>Létrehoz</button>
		</form>
		<table class='fajllista'>
			<thead>
				<td style='width: 1%;'></td>
				<td style='width: 1%;'></td>
				<td style='width: 35%;'>Fájlnév</td>
				<td style='width: 6%;'>Méret</td>
				<td style='width: 15%;'>Módosítva</td>
				<td style='width: 5%;'>Megosztva</td>
				<td style='width: 3%;'></td>
				<td style='width: 3%;'></td>
			</thead>
			<tbody>
				<% for(const file of files) { %>
				<tr>
					<td><input type='checkbox' /></td>
					<td><img src='<%= file.MAPPA ? "/img/folder.png" : "/img/file.png" %>'></td>
					<td><a href='<%= `${cdir.name}/${file.FAJLNEV}` %>'><%= file.FAJLNEV %></a></td>
					<td><%= file.MERET %> B</td>
					<td>0000-00-00 00:00:00</td>
					<td></td>
					<td>⚙</td>
					<td style='color: red;'>x</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<br>
		<div class='mulupl'>
			<form action='/fajlul/<%= cdir.fullpath %>' method='post' enctype='multipart/form-data'>
				Fájlok feltöltése ide:<br>
				<input type='file' name='file' multiple />
				<button>Feltöltés</button>
			</form>
		</div>
	</body>
</html>
