<!DOCTYPE html>
<html lang='hu'>
	<head>
		<meta charset='UTF-8'>
		<title>Webtárhely - Fájl</title>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include('_fejlec.ejs') %>

		<h1><%= file.UTVONAL %></h1>
		<hr>

		Méret: <%= file.MERET %><br>
		Módosítva: 0000-00-00 00:00:00<br>
		Megosztva:<br>

		<div class='flexcon' style='margin-top: 24px;'>
			<div class='flex tal'>
				<input type='button' value='Fájl letöltése'/>
			</div>
			<div class='flex tar'>
				<input type='button' value='Fájl törlése'/>
			</div>
		</div>

		<div>
			<h3>Hozzászólások:</h3>
			<% for(const comment of comments) { %>
			<b><%= comment.IRTA %></b>: <%= comment.SZOVEG %><br>
			<% } %>
			<form action="/ujkomment?q=<%= fajlid %>" method="POST" enctype="application/x-www-form-urlencoded">
				<input type='text' name='szoveg' />
				<input type='submit' value='Küldés' />
			</form>
		</div>
	</body>
</html>
